.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hero img{
    width: 100%;
}

.sub-hero{
    text-align: left;
    padding-left: 8px;
}

.sub-hero .title{
    font-size: 48px;
    color: #2E151B;
}

.sub-hero .title span{
    color: #D83F87;
}

.sub-hero p{
    color: #44318D;
    margin: 0;
}

.hero-button{
    margin-top: 20px;
    padding: 16px 30px;
    background-color: #D83F87;
    border: none;
    color: whitesmoke;
    border-radius: 25px;
    font-size: 18px;
}